.wp-block-vndrvn-wp-figma {

  .image-select {
    align-items: flex-end;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 0px;
    max-height: 30em;
    overflow: auto;

    * {
      width: 50%;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
      }

      div {
        position: relative;
        bottom: 0px;
        width: calc(100% - 1em);
        font-weight: bold;
        color: white;
        background-color: rgba(0, 0, 0, 0.67);
        padding: 0.25em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-top: -2em;
      }

    }

  }

}
